.App {
  margin: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e2e2;
  color: #110404;
  padding: 1rem;
  border: solid 5px;
  border-radius: 40px 0px 40px 0px;
}
.navbar:hover{
  background-color: rgb(221, 58, 193);
  box-shadow: 1px 3px 15px 0px ;
  border-radius: 0px 40px 0px 40px;
  color: #f5efef;
  border:solid 5px #050000;

}


.brand {
  font-size:30px;
 

}

.get-users-button {
  background-color: #d9ddd9;
  color: #050000;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px 0px 15px 5px;
  border:solid #130202 3px ;
}
.get-users-button:hover{
  background-color: #68de6c;
  color: aliceblue;
  transform: rotate(3deg);
}

.user-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;

}

.user-card {
  margin: 10px;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  border:solid #4caf50;
  
  
}
.user-card:hover{
  transform: rotate(5deg);
  box-shadow: 1px 3px 15px 0px ;
}

.user-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.loader {
  margin: 2rem;
  font-size: 1.5rem;
}
